# Ignorar archivos binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
.env

# Ignorar la carpeta de dependencias
vendor/

# Ignorar archivos de compilación
bin/